* {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.background-image-container {
  background: url(images/background_1.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -73px;
  margin-bottom: 50px;
  padding: 75px 15px 30px;
}

.hidden {
  display: none;
}

nav {
  background-color: #C4C4C4;
  width: 100%;
  border-radius: 0;
  position:fixed;
  top: 0;
  z-index: 1;
}

#logo {
  height: 32px;
}

.right-nav-bar {
  float: right;
  display: inline-block;
  padding: 10px 2px 0 0;
}

.left-nav-bar{
  float: left;
  display: inline-block;
  padding: 4px 0 1px 10px;
}

a {
  color: white;
  text-align: right;
  padding: 0px 5px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}


.standard-box {
  background-color: #C4C4C4;
  margin: 0 auto;
  opacity: .85;
  width: 85%;
}

.intro-text {
  text-align: center;
  padding: 6px;
  margin: 110px auto 60px;
}

.airbnb-logo {
  display: inline-block;
  height: 50px;
}

.airbnb-logo img {
  height: 45px;
}

h1 {
  color: #093E84;
  font-size: 18px;
  margin-top: -5px;
}

.form-container {
  width: 90%;
  /* height: 50px; */
  display: inline-block;
}

fieldset {
  border-style: none;
}


input {
  font-size: 9px;
  box-shadow:5px 10px 8px #888888;
  padding: 5px;
  margin-top: 6px;
}

/* .search-data::placeholder {
  font-weight: bold;
  color: black;
} */

.search-data {
  width: 58%;
}

.search-loc {
  width: 32%;
  margin-left: -10px;
}

.search-button {
  border-radius: 0px;
  padding: 0px;
  float: right;
  margin-top: 5px;
  /* can't get the margin to work solely on this and not input items */
}

.search-button img {
  height: 25px;
}

.info-sec {
  margin-bottom: 25px;
  text-align: center;
}

.info-sec-text {
  display: inline-block;
  width: 80%;
  padding-top: 10px;
}

.instructions {
  width: 80%;
}

/* .left {
  float: left;
}

.right {
  float: right;
} */

footer {
  background-color: #C4C4C4;
  width: 100%;
  border-radius: 0px;
  text-align: right;
  padding: 8px;
}

.right-footer-bar a {

 }
 /* ------------------------ page 2 styling */
.nav-arrow-container {
  background-color: orange;
  display: inline-block;
}

.nav-arrow {
  width: 8%;
}

 .results-container {
   margin-top: 50px;
 }

.results-data-card {
  background-color: #cc5500;
  margin: 20px;
  padding: 8px;
}

 .map-container {

 }

 #map {
   height: 100%;
}

.business-img {
  width: 40%;
  float: left;
}

.business-list-details {
  list-style: none;
  padding-left: 2px;
  clear: left;
  margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.business {
  padding: 0px 5px;
  font-size: 10px;
}

li:first-of-type {
  font-size: 15px;
}

/*attempting to get the rating image and the rating qty to display besides each other*/
/* ul:nth-child(3n+1){
  display: inline-block;
} */
