* {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

html, body, main, .page-2 {
   height: 100%; /* ensures google map can render */
}

html,
body {
  margin: 0;
  padding: 0; /*may not be needed */
}

body {
  margin-top: -20px;
}

.background-image-container {
  background: url(images/background_1.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -73px;
  margin-bottom: 50px;
  padding: 75px 15px 80px;
  border-radius: 0;
}

.hidden {
  display: none;
}

nav {
  background-color: #c4c4c4;
  width: 100%;
  border-radius: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

#tes-logo {
  height: 32px;
}

.right-nav-bar {
  float: right;
  display: inline-block;
  padding: 10px 2px 0 0;
}

.left-nav-bar {
  float: left;
  display: inline-block;
  padding: 4px 0 1px 10px;
}

.nav-link {
  color: white;
  text-align: right;
  padding: 0px 5px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.standard-box {
  background-color: #c4c4c4;
  margin: 0 auto;
  opacity: 0.85;
  width: 85%;
}

.intro-text {
  text-align: center;
  padding: 6px;
  margin: 110px auto 60px;
}

.airbnb-logo {
  display: inline-block;
  height: 50px;
}

.airbnb-logo img {
  height: 45px;
}

h1 {
  color: #093e84;
  font-size: 18px;
  margin-top: -5px;
}

.form-container {
  width: 85%;
}

fieldset {
  border-style: none;
}
/************************************/

.search-data,
.search-loc {
  font-size: 11px;
  box-shadow: 5px 5px 5px #888888;
  padding: 5px;
  margin-top: 6px;
  border-radius: 0px;
}
.search-data {
  width: calc(60% - 16px);
}
.search-loc {
  width: calc(40% - 16px);
  margin-left: -10px;
}

.search-button {
  display: inline-block;
  width: 32px;
  background-color: white;
  margin-left: -4px;
  border-radius: 0px;
  box-shadow: 5px 5px 5px #888888;
  padding: 0px;
}

.search-button img {
  width: 100%;
  vertical-align: middle;
  border-radius: 0px;
  /* object-fit: contain; */
}
/************************************/

.info-sec-container {
  padding-top: 30px;
}

.info-sec-card {
  text-align: center;
  margin: 10px 10px 30px 10px;
}

.info-sec-image-container {
  width: 85%;
  margin: 0 auto;
}

.info-sec-image-left,
.info-sec-image-right {
  width: 100%;
}

div[class^="info-sec-text-"] {
  padding: 30px;
}

.footer {
  background-color: #c4c4c4;
  width: 100%;
  border-radius: 0px;
  text-align: right;
  padding: 8px;
  position: fixed;
  z-index: 2;
}

/* ------------------------ page 2 styling */

.form-container-2 {
  display: inline-block;
  margin: 10px 0px;
}

.nav-arrow-container {
  display: inline-block;
  width: 35px;
  float: right;
  margin-top: 21px;
}

.nav-arrow-container-2 {
  background-color: #357ec7;
  display: inline-block;
  width: 35px;
  margin-top: 48px; /*33*/
  position: fixed;
  z-index: 1;
}

.nav-arrow {
  width: 100%;
}

#left-arrow {
  width: 25px;
}

.results-data {
  width: 95%;
}

.results-container {
  padding-top: 40px;
  position: fixed;
  background-color: #F5F5F5;
  overflow: scroll;
  height: 100%;
  z-index: 1;
}

.results-data-card {
  background-color: #e8e8e8;
  margin: 10px 0px 10px 10px;
  width: 95%;
}

#map {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.business-list-details {
  margin: 0;
  padding: 10px 2px 10px 10px;
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.business {
  font-size: 10px;
  color: #4c4c4c;
  margin: 0;
}

.business-name {
  font-size: 13px;
  color: black;
}

.business-img-container {
  width: 35%;
  height: 90px;
  padding: 0;
  display: inline-block;
}

.business-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.business-stars {
  width: 50px;
}

.business-rating-qty {
  color: gold;
}

.business-review-qty {
  display: inline-block;
  color: #093e84;
  margin-left: 2px;
}

.airbnb-button {
  background-color: white;
  color: #093e84;
  margin-top: 7px;
  margin-bottom: 0;
  border: 1px solid #093e84;
  font-size: 12px;
  display: block;
  padding: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3d526d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* corner of vertical/horozontal intersection */
/* ::-webkit-scrollbar-corner {
  background: red;
} */

/* ::-webkit-resizer {

} */

/* .results-footer {
  background-color: red;
  height: 10px;
} */
