/* Non-mobile grid/styling */
@media only screen and (min-width: 400px) {
  * {
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  .standard-box {
    width: 77%;
  }

  .background-image-container {
    padding: 90px 15px 100px;
  }

  .search-data,
  .search-loc {
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) {
  .background-image-container {
    padding: 95px 15px 110px;
  }

  .standard-box {
    width: 75%;
  }

  .intro-text {
    padding: 10px;
  }

  .search-data,
  .search-loc {
    font-size: 11px;
  }

  .info-sec-card {
    overflow: hidden;
    margin: auto;
    padding: 20px;
  }

  .info-sec-image-container {
    width: 45%;
  }

  div[class^="info-sec-text-"] {
    width: 55%;
  }

  .left {
    float: left;
    display: inline-block;
  }

  .right {
    float: right;
    display: inline-block;
  }


  .results-container {
    padding-top: 22px;
    width: 355px;
  }

  .business {
    font-size: 12px;
  }

  .business-name {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .standard-box {
    width: 65%;
  }

  * {
    font-size: 17px;
  }

  h1 {
    font-size: 21px;
  }

  .background-image-container {
    padding: 100px 15px 120px;
  }
}

@media only screen and (min-width: 700px) {
  .standard-box {
    width: 58%;
  }

  * {
    font-size: 18px;
  }

  h1 {
    font-size: 22px;
  }

  .intro-text {
    padding: 12px;
    margin: 110px auto 75px;
  }

  .search-data,
  .search-loc {
    font-size: 12px;
  }

  .info-sec-card {
    width: 95%;
    padding-bottom: 45px;
  }
}

@media only screen and (min-width: 925px) {
  .background-image-container {
    margin-bottom: 100px;
  }

  .standard-box {
    width: 54%;
  }

  * {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .intro-text {
    padding: 14px;
    margin: 110px auto 85px;
  }

  .search-data,
  .search-loc {
    font-size: 13px;
  }

  .info-sec-card {
    width: 88%;
    padding-bottom: 65px;
  }
}

@media only screen and (min-width: 1050px) {
  .standard-box {
    width: 48%;
  }

  .info-sec-card {
    width: 80%;
    padding-bottom: 75px;
  }

}

@media only screen and (min-width: 1150px) {
  .standard-box {
    width: 45%;
  }

  .info-sec-card {
    width: 78%;
    padding-bottom: 100px;
  }

  .search-data,
  .search-loc {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1300px) {
  .standard-box {
    width: 560px;
  }

  .info-sec-card {
    width: 1000px;
    padding-bottom: 100px;
  }

}
